In [15]:
import pandas
import matplotlib.pyplot as plt
dataset = pandas.read_csv('airline_passengers.csv', usecols=[1], engine='python')
# plt.plot(dataset)
# plt.show()

In [16]:
dataset

     Passengers
0           112
1           118
2           132
3           129
4           121
..          ...
139         606
140         508
141         461
142         390
143         432

[144 rows x 1 columns]

In [17]:
import numpy
import matplotlib.pyplot as plt
import pandas
import math
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [18]:
# normalize the dataset
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(dataset)

In [19]:
# split into train and test sets
train_size = int(len(dataset) * 0.67)
test_size = len(dataset) - train_size
train, test = dataset[0:train_size,:], dataset[train_size:len(dataset),:]
print(len(train), len(test))

96 48

In [20]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back), 0]
        dataX.append(a)
        dataY.append(dataset[i + look_back, 0])
    return numpy.array(dataX), numpy.array(dataY)

In [21]:
# reshape into X=t and Y=t+1
look_back = 1
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)

In [22]:
trainX

array([[0.01544402],
       [0.02702703],
       [0.05405405],
       [0.04826255],
       [0.03281853],
       [0.05984556],
       [0.08494208],
       [0.08494208],
       [0.06177606],
       [0.02895753],
       [0.        ],
       [0.02702703],
       [0.02123552],
       [0.04247104],
       [0.07142857],
       [0.05984556],
       [0.04054054],
       [0.08687259],
       [0.12741313],
       [0.12741313],
       [0.1042471 ],
       [0.05598456],
       [0.01930502],
       [0.06949807],
       [0.07915058],
       [0.08880309],
       [0.14285714],
       [0.11389961],
       [0.13127413],
       [0.14285714],
       [0.18339768],
       [0.18339768],
       [0.15444015],
       [0.11196911],
       [0.08108108],
       [0.11969112],
       [0.12934363],
       [0.14671815],
       [0.17181467],
       [0.14864865],
       [0.15250965],
       [0.22007722],
       [0.24324324],
       [0.26640927],
       [0.2027027 ],
       [0.16795367],
       [0.13127413],
       [0.17374517],
       [0.17760618],
       [0.17760618],
       [0.25482625],
       [0.25289575],
       [0.24131274],
       [0.26833977],
       [0.30888031],
       [0.32432432],
       [0.25675676],
       [0.20656371],
       [0.14671815],
       [0.18725869],
       [0.19305019],
       [0.16216216],
       [0.25289575],
       [0.23745174],
       [0.25096525],
       [0.30888031],
       [0.38223938],
       [0.36486486],
       [0.2992278 ],
       [0.24131274],
       [0.19111969],
       [0.24131274],
       [0.26640927],
       [0.24903475],
       [0.31467181],
       [0.31853282],
       [0.32046332],
       [0.40733591],
       [0.5019305 ],
       [0.46911197],
       [0.4015444 ],
       [0.32818533],
       [0.25675676],
       [0.33590734],
       [0.34749035],
       [0.33397683],
       [0.41119691],
       [0.4034749 ],
       [0.41312741],
       [0.52123552],
       [0.5965251 ],
       [0.58108108],
       [0.48455598],
       [0.38996139]])